.artistCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 30px 0;
  border-radius: 10px;
}

.artistCard:hover {
  background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #fda085 51%,
    #f6d365 100%
  );
  background-size: 200% auto;
}

.colorEffect {
  background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #fda085 51%,
    #f6d365 100%
  );
  background-size: 200% auto;
  background-position: right center;
}

.artistImage {
  border-radius: 20px;
  width: 80%;
  margin-bottom: 20px;
}

.artistCard h2 {
  font-family: "Notable", sans-serif;
  color: white;
}
