.compPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.artistStats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Notable", sans-serif;
}

.compPic {
  border-radius: 20px;
}

.stats_subsection {
  background-color: lightgray;
  margin: 10px;
  border-radius: 10px;
  width: 100%;
}

.tracks {
  border: 0.5px solid white;
}

@media only screen and (min-width: 1024px) {
  .compPage {
    flex-direction: row;
    justify-content: space-around;
  }
}
