.homePage {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.spotify {
  height: 30px;
}

header h1 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

header h2 {
  font-size: 90px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

main h1 {
    color: white;
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    align-items: center;
  }
}
