@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
  text-align: center;
  /* photo cred to Alexis Antonio via unsplashed  https://unsplash.com/photos/273_wcQPfYw */
  background: url("https://res.cloudinary.com/dgbf3yxnd/image/upload/v1599676769/alexis-antonio-273_wcQPfYw-unsplash_lo1hub.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
}


@media only screen and (min-width: 768px) {
  .App {
    height: 100vh;
  }
}